* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.background-main {
    position: relative;
    background-image: url(../img/background-main.jpg);
    width: 1528px;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* btn quay lai */

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 54px;
    left: 54px;
    z-index: 100;
}

.btn p {
    font-size: 18px;
    margin-left: 11px;
    font-weight: 700;
}

.btn .arrow-left {
    border-radius: 50%;
    border: 1px solid #fff;
    position: relative;
    width: 43.2px;
    height: 43.2px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 1), rgba(255, 168, 0, 1));
}

.btn .arrow-left i {
    position: absolute;
    color: #fff;
    font-size: 22px;
    top: 50%;
    left: 50%;
    margin-left: -11px;
    margin-top: -11px;
    cursor: pointer;
}

/* head */



/* form*/
.form {
    position: absolute;
}

.form h1 {
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}
.form .logo-form {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form .logo-form img {
    height: 100px;
    width: 100px;
}

.form .text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 15px;
}

.form .text.two {
    margin-top: 20px;
    color: rgba(51, 51, 51, 0.3); 
}

/* form register */
.form-register {
    position: relative;
    height: 380px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

/* input register */
.input-form input {
    margin-top: 18px;
    width: 100%;
    border-radius: 12px;
    padding: 18px 40px 18px 40px;
    border: 1px solid transparent;
    background: rgba(51, 51, 51, 0.05);
    font-size: 15px;
}

.input-form input::placeholder {
    opacity: 0.6;
}

/* .btn-form  */
.btn-form {
    width: 400px;
    margin-top: 36px;
    border: 1px solid transparent;
    background: transparent;
}
.btn-form a{
    border-radius: 12px;
    padding: 16px 161px;
    background: linear-gradient(90deg, #FF0000 0%, #FFA800 100%);
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.btn-form a:hover {
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* .text.three.register */
.text.three {
    position: relative;
    margin-top: 0px;
}

.text.three a {
    margin-left: 12px;
    font-weight: 700;
    background: linear-gradient(90deg, #FF0000 0%, #FFA800 100%);
    overflow: hidden;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .footer-form */
.footer-form {
    margin-top: 30px;
}

.footer-form p {
    text-align: center;
    color: rgba(51, 51, 51, 0.3);
}